<div class="social-media-bar">
    <a href="{{ socialNetworkDetail?.facebookLink }}" id="facebook" target="_blank" class="social-media-icon">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="{{ socialNetworkDetail?.facebookLink }}" id="twitter" target="_blank" class="social-media-icon">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="{{ socialNetworkDetail?.facebookLink }}" id="instagram" target="_blank" class="social-media-icon">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="{{ socialNetworkDetail?.linkedinLink }}" id="linkedin" target="_blank" class="social-media-icon">
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://wa.me/52{{ socialNetworkDetail?.businessPhone }}" id="whatsapp" target="_blank" class="social-media-icon">
        <i class="fa fa-whatsapp"></i>
      </a>
      <a href="{{ socialNetworkDetail?.youtubeLink }}" id="youtube" target="_blank" class="social-media-icon">
        <i class="fa fa-youtube"></i>
      </a>
  </div>
  